  <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home Inventario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/imagenes/Hamburguesas.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle> Inventario </ion-card-subtitle>
        <ion-card-title> Bienvenido al inventario de productos </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Aca podras encontrar todos los productos que tengas en tu inventario para poder llevar el control de todos los insumos de tu negocio. </p>
      </ion-card-content>
    </ion-card>
</ion-content>
